<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.knowledge.mapper.AuditLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kb_audit_log (user_id, action, target_type, target_id, detail)
        VALUES (#{userId}, #{action}, #{targetType}, #{targetId}, #{detail})
    </insert>

    <select id="findRecent" resultType="com.fast.knowledge.model.entity.AuditLog">
        SELECT * FROM kb_audit_log ORDER BY id DESC LIMIT #{limit}
    </select>
</mapper>
