<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.knowledge.mapper.DocumentMapper">

    <select id="findById" resultType="com.fast.knowledge.model.entity.KbDocument">
        SELECT * FROM kb_document WHERE id = #{id}
    </select>

    <select id="findByKbId" resultType="com.fast.knowledge.model.entity.KbDocument">
        SELECT * FROM kb_document WHERE kb_id = #{kbId} ORDER BY created_at DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO kb_document (kb_id, title, file_name, file_type, file_size, file_path,
                                 index_status, chunk_count, enabled, created_by)
        VALUES (#{kbId}, #{title}, #{fileName}, #{fileType}, #{fileSize}, #{filePath},
                #{indexStatus}, #{chunkCount}, #{enabled}, #{createdBy})
    </insert>

    <update id="update">
        UPDATE kb_document
        SET title = #{title},
            index_status = #{indexStatus},
            index_error = #{indexError},
            chunk_count = #{chunkCount},
            enabled = #{enabled}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM kb_document WHERE id = #{id}
    </delete>

    <delete id="deleteByKbId">
        DELETE FROM kb_document WHERE kb_id = #{kbId}
    </delete>
</mapper>
